@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1 {
    text-align: center; color: rgb(57,56,57);margin:0; font-size: 51px; font-family: 'Momo Trust Display', Times, serif;padding: 5px;
}
h2 {
    text-align: center;color: rgb(217,155,88); font-size: 36px;  font-family: "Momo Trust"x;
}

.continuereading{
    font-size: 13px; background-color: rgb(176, 176, 176); color: rgb(54, 54, 54);font-family: "Merriweather", serif;padding: 5px;

} 

.secciones{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0px;
    padding: 0px;
    background-color: rgb(77, 86, 42);
    list-style: none; 
    width: 100%;
    position: fixed;
}

a{
    font-family: Poppins;
}
.cita{
    color:grey; font-size: 17px; 
}

.backbutton{
    text-decoration: none; padding: 5px; background-color: hsl(32, 88%, 84%); color: rgb(159, 77, 0); margin-top: 5000px;
}

li a{
    text-decoration: none;
}

.lista{
    background-color: antiquewhite;
}

.footertitle{
    font-family: 'Poppins', Times, serif;color: rgb(255, 191, 46);font-size: 22px;
}
.footertext{
    font-family: 'Poppins', Times, serif;color: rgb(238, 242, 194);font-size: 14px;text-align: left;margin: 20px;
}

.titulobanner{
    margin-top: 170px;margin-bottom: 140px;text-align: left;margin-left: 50px;color: white; text-shadow: 2px 2px #000;
}

.titulobanner2{
    text-align: left;margin-left: 50px;color: white; text-shadow: 2px 2px #000;
}

.btn-reserva {
    background-color: rgb(255, 191, 46);
    color: rgb(57, 56, 57);
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-reserva:hover {
    background-color: rgb(255, 178, 0);
    transform: translateY(-1px);
}

.subtitulo-destacado {
    color: rgb(64,85,38);
    font-family: 'Momo Trust Display';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 15px 20px;
    display: inline-block;
    margin: 10px;
}

.titulo-form {
    color: rgb(40, 40, 40);
    font-family: 'Momo Trust Display';
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding: 15px 20px;
    display: inline-block;
}

.textonpc{
    font-family: Poppins;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    font-weight:500;
    margin-top: 20px;
}

.nombrefoto{
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    font-weight:500;
    color: rgb(238, 242, 194);
}


.seccion-visitenos {
    background-color: rgb(238, 242, 194);
    padding: 60px 20px;
    text-align: center;
}

.titulo-seccion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: rgb(57, 56, 57);
    margin-bottom: 40px;
}

.contenedor-bloques {
    display:flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.bloque {
    padding: 0;
    text-align: left;
}

.subtitulo-bloque {
    background-color: rgb(211, 134, 0);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 20px;
}

.bloque p {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(57, 56, 57);
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(152, 152, 152);
    font-size: 10px;
}

.galeria-header {
    text-align: center;
    padding: 40px 20px 20px 20px;
    background-color: rgb(240, 240, 240);
}

.galeria-header h1 {
    background-color: rgb(215, 215, 215);
    display: inline-block;
    padding: 10px 30px;
    font-size: 24px;
    font-weight: 800;
    color: rgb(57, 56, 57);
    margin: 0;
    text-transform: uppercase;
}

.contenedor-fotos {
    max-width: 1200px;
    margin: 40px auto;
    overflow: hidden; 
    padding: 0 10px;
    background-color: rgb(238, 242, 194);
    margin-top: -10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}


.item-foto {
    width: 31.333%; 
    height: auto;
    margin: 1%; 
    float: left; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgb(77, 86, 42);
}

.item-foto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.item-foto2 {
    width: 50%;
    text-align: center; 
    height: auto;
    margin: 1%; 
    float: left; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgb(77, 86, 42);
    margin-left: 25vw;
}

@media (max-width: 600px) {
    .item-foto {
        width: 98%; 
        margin: 1% auto;
        float: none; 
    }
}
.btn-vermas{
    font-family: Poppins;
    size: 20px;
    color: rgb(23, 23, 23);
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}



.btn-vermas:hover{
    text-decoration: underline;
}

.barratitle{
    color: rgb(238, 242, 194);
}

.barratitle:hover{
    text-decoration: underline;
}

.barratitleseleccionado{
    color: rgb(255, 191, 46);
}

.barratitleseleccionado:hover{
    text-decoration: underline;
}


.proyectos-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.proyecto-card {
    display: flex;
    align-items: center;
    background-color: rgb(77, 86, 42); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    overflow: hidden; 
}


.proyecto-media {
    flex: 0 0 40%; 
    max-width: 40%;
    margin-right: 20px;
}

.proyecto-media img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}


.proyecto-contenido {
    flex: 1; 
    padding: 10px;
}

.proyecto-contenido h2 {
    color: #4D562A;
    margin-top: 0;
    margin-bottom: 10px;
}

.proyecto-contenido p {
    line-height: 1.6;
    color: #333;
}

.proyecto-reverse {
    flex-direction: row-reverse;
}

.proyecto-reverse .proyecto-media {
    margin-right: 0;
    margin-left: 20px;
}

.detalles{
    font-family: Poppins;
    size: 8px;
    color: rgb(196, 196, 196);
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    
    .proyecto-card,
    .proyecto-reverse {
        flex-direction: column;
        padding: 15px;
    }

    .proyecto-media,
    .proyecto-reverse .proyecto-media {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px; 
    }

    .proyecto-contenido {
        padding: 0; 
    }
}

