@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 13px;
    font-weight: 100;
}

h2{
    font-family: Poppins, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 15px;
    font-style: bold;
    margin-bottom: 30px;

}

a{
    font-family: Poppins;
    background-color: antiquewhite;
    border-radius: 50px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    line-height: 40px;
    margin: 5px;
    color: rgb(49, 49, 49);
}

.fotoperfil{

}

@media (max-width: 800px) {
    
    .fotoperfil { 
        width: 100px;
    } 

    h1{
        margin: -140px;
    }

    a{
        font-size: 11px;
        width: 100px;
    }


}
